[submodule "andes"]
	path = andes
	url = https://github.com/CURENT/andes.git
[submodule "ams"]
	path = ams
	url = https://github.com/CURENT/ams.git
[submodule "dime2"]
	path = dime2
	url = https://github.com/CURENT/dime2.git
[submodule "agvis"]
	path = agvis
	url = https://github.com/CURENT/agvis.git
